* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eef1f6;
  width: 100%;
  height: 100vh;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  overflow-y: hidden;
}

.topbar {
  height: 60px;
  background: linear-gradient(90deg, #1e3a8a, #2563eb);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logout {
  background: #3b82f6;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3 ease;

}
.logout:hover{
  background: #123f88;
  transform: translatey(-4px);
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 260px;
  background: white;
  min-height: calc(100vh-60px);
  border-right: 1px solid #ddd;
}

.portfolio {
  text-align: center;
  padding: 25px;
}

.portfolio img {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.portfolio h3 {
  margin-bottom: 5px;
}

.nav {
  list-style: none;
}

.nav li {
  padding: 14px 25px;
  cursor: pointer;
  border-left: 4px solid transparent;
}

.nav li:hover,
.nav li.active {
  background: #eef3ff;
  border-left: 4px solid #2563eb;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 2px;
}

.content h2 {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

hr {
  width: 80% auto;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  gap: 20px;
}

.stat-card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.number {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}

.danger {
  color: red;
  font-size: 14px;
}

/* NOTICE */
.notice {
  margin-top: 30px;
  background: #fff7e6;
  padding: 20px;
  border-left: 6px solid #f59e0b;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .content {
    padding: 30px;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================= RESPONSIVE (MOBILE) ================= */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}


/* profile */
.title {
  text-align: center;
  margin: 10px 0;
}

.profile-card {
  display: flex;
  gap: 30px;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
}

.personal {
  flex: 1;

}

.profile-header {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.profile-header img {
  width: 80px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.info li {
  margin: 12px 0;
}

.info i {
  margin-right: 10px;
  color: #2563eb;
}

.education {
  flex: 1;
  border-left: 1px solid #eee;
  padding-left: 30px;
}

.edu-list {
  list-style: none;
  padding-left: 20px 0;
  display: flex;
  flex-direction: column;
}

.edu-list li {

  margin: 14px 0;
}

.edu-list i {
  margin-right: 10px;
  color: #2563eb;
}


/* subjects */
.subs {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.box {
  margin: 20px;
  width: 250px;
  height: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #eee;
}

.box h3 {
  width: 100%;
  text-align: left;
  margin: 5px 0;

}

.box p {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 20px;
  font-weight: bold;
}

.box ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.box ul li {
  list-style: none;
  width: auto;
  height: auto;
  background: #083c91;
  color: #fff;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
}

/* Exam Form */
.exam-placeholder {
  background: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-size: 18px;
  color: #555;
  margin: 30px;
}

/* EVENTS */
.events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 20px;
}

.event-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  width: 400px;
  height: 430px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.event-card:hover {
  transform: translateY(-5px);

}

.event-card img {
  margin-top: 15px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.event-card h3 {
  padding: 15px;
  font-size: 18px;
}

.event-card a {
  display: block;
  margin: 0 15px 15px;
  padding: 10px;
  text-align: center;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.event-card a:hover {
  background: #1e40af;
}


/* Raise Ticket */
.tick{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
 margin-top: 30px;
  flex-direction: column;
}
.fill{
  width: 500px;
    display: flex;
    flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #eee;
  background: #fff;
  padding: 30px;
  

}
.fill label{
  width: 100%;
  font-size: 1.2rem;
}
.fill input{
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  border: 2px solid #eee;
  border-radius: 6px;
}
.fill textarea{
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  border-radius: 6px;
}
.fill input:focus-within,
.fill textarea:focus-within{
   border-color: rgb(81, 96, 233);
    box-shadow: inset 2px 2px 5px rgb(81, 96, 233,0.5); 
}

.fill button {
  background: #3b82f6;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3 ease;

}
.fill button:hover{
  background: #123f88;
  transform: translatey(-4px);
}
.hidden{
  display: none;
}
